/* width="560" height="315"  */
iframe {
    width: calc(1.5*560px);
    height: calc(1.5*315px);
    /* margin: 0 50 50 50px; */
}

ul {
    text-align: center;
    list-style-position: inside;
}

p {
    text-align: left;
    /* padding: 50px; */
}

/* put it in a box that surrounds only the content */
.dialogue {
    background-color: lightgrey;
    width: calc(1.5*560px);
    height: calc(1.5*315px);
    border: 5px solid rgb(0, 0, 0);
    padding: 50px;
    overflow: auto;
    /* margin: 0 50 50 50px; */
}

.flex {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}
  
/* .flex > * {
    width: 50%;
} */