<html>

<head>
    <title>SOPHIE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <!-- <script src="{{url_for('static', filename='js/script.js')}}"></script> -->
</head>

<body>
    <div class="container-fullwidth">
        <nav class="navbar navbar-expand-lg navbar-light bg-primary bg-gradient" style="margin-bottom: 1.5%;">
            <a href="{{url_for('home')}}" class="navbar-brand mb-0 h1"
                style="font-size: 2rem; font-weight: 700; margin-left: 1rem; color: #fff;">SOPHIE</a>
            <div class="navbar-nav mx-auto"
                style="text-align: center; position: absolute; left: 50%; transform: translateX(-50%); font-size: 1.75rem; font-weight: 500;">
                <span class="nav-item nav-link active" style="color: #fff;">Your dialogue with {{name.title()}}</span>
            </div>
        </nav>
    </div>

    <!-- <div class="flex"> -->
    <div class="dialogue_flex">
        <div>
            <!-- img with urlfor call to link with name variable -->
            <img src="{{url_for('static', filename='images/' + name + '.jpg')}}" alt="image of {{name.title()}}"
                class="video_win">
        </div>

        <div>
            <p>
                <button class="btn btn-primary btn-xlg" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"
                    style="margin:auto; display:block;">
                    View Transcript
                </button>
            </p>

            <div class="dialogue_box">
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <div class="dialogue">
                            {% for line in range(0, dialogue|length) %}
                            {% set line_split = dialogue[line].split(":") %}
                            
                            {% set line_split = line_split|map('replace', '|', '')|list %}
                            {% set line_split = line_split|map('replace', '(', '')|list %}
                            {% set line_split = line_split|map('replace', ')', '')|list %}
                            {% set line_split = line_split|map('replace', '[NEUTRAL]', '')|list %}
                            
                            {% if line in inference %}
                            <p style="color: green;"><b>{{line_split[0]}}:</b> {{line_split[1]}}</p>
                            {% else %}
                            <p><b>{{line_split[0]}}:</b> {{line_split[1]}}</p>
                            {% endif %}
                            
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Button trigger modal, center it -->
            <button type="button" class="btn btn-primary btn-xlg" data-bs-toggle="modal" data-bs-target="#myModal" style="margin:auto; display:block; ">
                Get feedback
            </button>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Here are some things you could have said</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% for response in responses %}
                    <li>{{response}}</li>
                    {% endfor %}
                    <br>
                    <center>
                        <h5>Here are some resources</h5>
                        <iframe width="392" height="220" src="https://www.youtube.com/embed/mq_uG9TUD4M"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        <br><br>
                        <iframe width="392" height="220" src="https://www.youtube.com/embed/NTs1OtOTmP4"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </center>
                </div>
                <div class="modal-footer mx-auto">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Go back to
                        conversation</button>
                    <!-- <button type="button" class="btn btn-primary">Okay</button> -->
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
        integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
        crossorigin="anonymous"></script>
</body>

<footer class="bg-light text-center ">
    <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2)">
        &copy;
        <!-- programtically get current year -->
        <script>
            document.write(new Date().getFullYear())
        </script>
        <a class="text-dark" href="https://roc-hci.com">Rochester HCI</a>
    </div>
</footer>

</html>