<html>

<head>
    <title>SOPHIE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <!-- <script src="{{url_for('static', filename='js/script.js')}}"></script> -->
</head>

<body>
    <div class="container-fullwidth">
        <nav class="navbar navbar-expand-lg navbar-light bg-primary bg-gradient" style="margin-bottom: 1.5%;">
            <a href="#" class="navbar-brand mb-0 h1"
                style="font-size: 2rem; font-weight: 700; margin-left: 1rem; color: #fff;">SOPHIE</a>
            <div class="navbar-nav mx-auto"
                style="text-align: center; position: absolute; left: 50%; transform: translateX(-50%); font-size: 1.75rem; font-weight: 500;">
                <span class="nav-item nav-link active" style="color: #fff;">Pick a Module</span>
            </div>
        </nav>
    </div>

    <center>
        <div class="container-fluid">
            <div class="container_flex">
                <!-- 3 columns 3 rows -->
                <div class="row row-cols-3 g-4">
                    <div class="col">
                        <img src="{{url_for('static', filename='images/jason.jpg')}}" alt="Module 1" class="module_win">
                    </div>
                    <div class="col">
                        <img src="{{url_for('static', filename='images/rachel.jpg')}}" alt="Module 2"
                            class="module_win">
                    </div>
                    <div class="col">
                        <img src="{{url_for('static', filename='images/john.jpg')}}" alt="Module 3" class="module_win">
                    </div>

                    <div class="col">
                        <div class="module_description">
                            <h3>Module 1: Jason</h3><br>
                            <h6>{{module1}}</h6>
                        </div>
                    </div>
                    <div class="col">
                        <div class="module_description">
                            <h3>Module 2: Rachel</h3><br>
                            <h6>{{module2}}</h6>
                        </div>
                    </div>
                    <div class="col">
                        <div class="module_description">
                            <h3>Module 3: John</h3><br>
                            <h6>{{module3}}</h6>
                        </div>
                    </div>

                    <div class="col">
                        <a href="{{url_for('dialogue', name='jason')}}"><button type="button"
                                class="btn btn-primary btn-xlg">Start Module 1</button></a>
                    </div>
                    <div class="col">
                        <a href="{{url_for('dialogue', name='rachel')}}"><button type="button"
                                class="btn btn-primary btn-xlg">Start Module 2</button></a>
                    </div>
                    <div class="col">
                        <a href="{{url_for('dialogue', name='john')}}"><button type="button"
                                class="btn btn-primary btn-xlg">Start Module 3</button></a>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
            integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
            crossorigin="anonymous"></script>
    </center>
</body>

<footer class="bg-light text-center ">
    <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2)">
        &copy;
        <!-- programtically get current year -->
        <script>
            document.write(new Date().getFullYear())
        </script>
        <a class="text-dark" href="https://roc-hci.com">Rochester HCI</a>
    </div>
</footer>

</html>